<td align="center" valign="top">
    <!-- BEGIN FOOTER // -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
          <tr>
              <td valign="top" class="footerContent" mc:edit="footer_content00">
                  - L'Ecole Du Retrogaming -
                  <br />
                  <a href="https://twitter.com/ViensFTD"><%= email_image_tag('twitter.png') %></a>&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/Viensfairetesdevoirs"><%= email_image_tag('facebook.png') %></a>&nbsp;&nbsp;&nbsp;<a href="https://www.youtube.com/c/Viensfairetesdevoirs"><%= email_image_tag('youtube.png') %></a>&nbsp;
                  <br />
                  <a href='http://viensfairetesdevoirs.com'>viensfairetesdevoirs.com</a>
              </td>
          </tr>
          <tr>
              <td valign="top" class="footerContent" style="padding-top:0;" mc:edit="footer_content01">
                  <br /><br />
                  <em>"Fiston ! Quoi ?! Viens Faire Tes Devoirs !"</em>
                  <br />
                  Copyright &copy; 2016-2017 VFTD, Tout Droits Réservés.
              </td>
          </tr>
          <!-- <tr>
              <td valign="top" class="footerContent" style="padding-top:0; padding-bottom:40px;" mc:edit="footer_content02">
                <a href="*|UNSUB|*">unsubscribe from this list</a>&nbsp;&nbsp;&nbsp;<a href="*|UPDATE_PROFILE|*">update subscription preferences</a>&nbsp;
              </td>
          </tr> -->
      </table>
      <!-- // END FOOTER -->
  </td>
