<h3>Bonjour Papako !</h3>

<p>
  Nouveau devoir à corriger
</p>

  <p><a href="http://viensfairetesdevoirs.com/tests/<%= @reponse.test_id %>/reponses/<%= @reponse.id %>/edit">Corriger le devoir</a></p>
