<h3>Bonjour <%= @reponse.user_username %>,</h3>

<p>
  Ton devoir sur "<%= @test.video_title %>" vient d'être corrigé !
</p>

<p>Pour voir ta note et les corrections, clique sur le lien ci-dessous :<p>
  <p><a href="http://viensfairetesdevoirs.com/tests/<%= @reponse.test_id %>/reponses/<%= @reponse.id %>">Voir ma note</a></p>

<br>
<p>Papako</p>
<p>viensfairetesdevoirs.com</p>
