<p>Bonjour <%= @user.username %>,</p>

<p>
  Un nouveau cours sur <%= @video.console.title %> n'attends plus que toi pour commencer !
</p>

<p>Pour ne pas arriver en retard et apprendre de nouvelles choses, clique ci-dessous :<p>
  <p><a href="http://viensfairetesdevoirs.com/videos/<%= @video.id %>">Voir le cours</a></p>
