<p>Salut Papako,</p>

<p>
  Un nouveau livre écrit par <%= @post.author %> et intitulé <%= @post.title %> est disponible au C.D.I !
</p>

<p><a href="http://viensfairetesdevoirs.com/posts/<%= @post.id %>">Vérifier le livre</a></p>
