<p>Salut <%= @user.username %>,</p>

<p>
  Un nouveau livre écrit par <%= @post.author %> et intitulé <%= @post.title %> est disponible au C.D.I !
</p>

<p>Si tu as aimé, n'hésites pas à laisser un commentaire ou à partager l'article sur les réseaux sociaux :)<p>
  <p><a href="http://viensfairetesdevoirs.com/posts/<%= @post.id %>">Lire le livre</a></p>
