<p>Salut <%= @user.username %>,</p>

<p>
  Ton livre n'a malheureusement pas été validé par Papako. Prends contact avec lui dans la <%= link_to "Récré", "http://discourse.viensfairetesdevoirs.com/" %> pour qu'il t'explique pourquoi et t'aide à améliorer ton article.
</p>

<p><a href="http://viensfairetesdevoirs.com/posts/<%= @post.id %>">Modifier mon article</a></p>
