<p><%=raw markdown.render comment.content %> - <%= comment.user_username %></p>
<% if user_signed_in? %>
  <% if current_user.id == comment.user_id || current_user.role == 'admin' && current_user.role != nil%>
<p><%= link_to "Editer", edit_post_comment_path(comment.post, comment) %> -
   <%= link_to "Supprimer", post_comment_path(comment.post, comment), method: :delete, data: {confirm: "Êtes-vous sûr(e) de vouloir supprimer cette annotation ?"}  %>
</p>
   <% end %>
<% end %>
