<br>
<div class="col-md-6 col-md-offset-3">
  <div class="login-form">

    <h1 class="craietext">Editer annotation</h1>

    <%= simple_form_for([@post, @comment]) do |f| %>
      <%= f.input :content, as: :text, input_html: {maxlength: 300, rows: 5}, hint: ("300 caractères maximum"), label: false %>
      <%= f.button :submit, t('valider') %>
    <% end %>
  </div>
</div>
