<div>
  <h2 style="color:white" class="craietext text-center margin_top20 margin_bot20"><em>LE CARTABLE NUMERIQUE</em></h2>

  <div class="col-xs-12 col-md-6">
    <h3 style="color:white" class="craietext">EXPLICATION DETAILLEE</h3>

    <div class="col-xs-12 videoWrapper">
      <iframe width="560" height="349" src="https://www.youtube.com/embed/ZAFOH6d8WOA?autoplay=0&rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <h3 style="color:white" class="craietext">RESUME</h3>
    <div class="text-justify">
      <p style="color:white" class="text-justify">Le 'Cartable Numérique' est une console de poche permettant de faire tourner une 30aine de consoles rétro (Atari 2600, Master System, Megadrive, Super Nintendo,
        Neo-Geo, Game Boy /Color/Advance, Arcade, Playstation 1, Nintendo 64...). Elle se branche en HDMI sur n'importe quelle écran pourvu de cette entrée (TV / Moniteur).<br><br>
        Fourni avec une manette USB et un chargeur secteur, vous n'avez qu'à la brancher et jouer.
        Il est possible d'y rajouter ses propres manettes USB (jusqu'à 4) et de jouer à plusieurs.<br><br>
        Vous avez également accès à tous les vidéos de notre école (avec de futures exclusivités) depuis le lecteur multimédia intégré (nécessite d'être connecté à Internet)</p>
        <h3 style="color:white" class="craietext">SPECIFICATIONS</h3>
        <p style="color:white">MATERIEL : Raspberry Pi 3 / Carte Micro SD 32 Go /<br>Manette USB / Alimentation secteur Micro USB (5v 3A)<br>
          SYSTEME D'EXPLOITATION : Recalbox (www.recalbox.com)<br>
          RESEAU : Wifi, Bluetooth, Ethernet<br>
          CONNECTIQUES : USB (4), Micro-usb, HDMI, Jack</p>
    </div>
  </div>
</div>

<script data-cc-campaign-token="FlfmcIyOXlNOc_f6xJna$$Q3P7X526MXNFJ9BRg1em" src="https://captaincrowd.co/assets/widget.js"></script>
