<div>
  <h2 style="color:white" class="craietext text-center"><em>LE CARTABLE NUMERIQUE</em></h2>


  <div class="text-center embed-responsive embed-responsive-16by9 col-xs-12 col-md-10 col-md-offset-1 margin_top20 margin_bot150">
    <iframe src="https://www.youtube.com/embed/ZAFOH6d8WOA?autoplay=1&rel=0&iv_load_policy=3&controls=2" frameborder="0" allowfullscreen ></iframe>
  </div>
</div>

<script data-cc-campaign-token="FlfmcIyOXlNOc_f6xJna$$Q3P7X526MXNFJ9BRg1em" src="https://captaincrowd.co/assets/widget.js"></script>
