<div>
  <h2 style="color:white" class="craietext text-center"><em>LE CARTABLE NUMERIQUE</em></h2>


  <div class="text-center embed-responsive embed-responsive-16by9 col-xs-12 col-md-10 col-md-offset-1 margin_top20 margin_bot150">
    <!-- <iframe src="<%= Video.first.link %>" frameborder="0" allowfullscreen ></iframe> -->
    <h2 style="color:white" class="craietext text-center">VIDEO EN COURS DE TOURNAGE</h2>
  </div>
</div>
