<div class="text-center">
  <h2 style="color:white" class="craietext"><em>MANUEL D'UTILISATION</em></h2>
</div>
<br>

<br>
<h3  class="craietext"><a href="#answer1">COMMENT FONCTIONNE L'ECOLE ?</a></h3>
<h3  class="craietext"><a href="#answer9">C'EST QUOI LE RETROGAMING ?</a></h3>
<h3  class="craietext"><a href="#answer2">C.D.I, RECRE, CASIER, KEZAKO ?</a></h3>
<h3  class="craietext"><a href="#answer3">EN QUOI CONSISTE UN COURS ?</a></h3>
<h3  class="craietext"><a href="#answer10">POURQUOI Y-A-T-IL SI PEU DE COURS ?</a></h3>
<h3  class="craietext"><a href="#answer11">JE NE VOIS QUE DES CONSOLES DE NINTENDO. OU SONT SEGA, ATARI, SONY ET LES AUTRES ?</a></h3>
<h3  class="craietext"><a href="#answer4">POURQUOI FAUT-IL CREER UN COMPTE ?</a></h3>
<h3  class="craietext"><a href="#answer5">JE M'Y CONNAIS DEJA EN RETROGAMING, QUEL INTERET ?</a></h3>
<h3  class="craietext"><a href="#answer6">A QUOI SERT LA COOPERATIVE ?</a></h3>
<h3  class="craietext"><a href="#answer7">COMMENT CHANGER SON AVATAR ?</a></h3>
<h3 class="craietext"><a href="#answer8">JE N'AI PAS DE REPONSE A MA QUESTION...</a></h3>
<br>


<div class="faq_div">

  <h3 style="color:#33cc33" class="craietext" id="answer1">COMMENT FONCTIONNE L'ECOLE ?</h3>
  <br>
  <h4 style="color:white" class="craietext">"VIENS FAIRE TES DEVOIRS" EST LA PREMIERE ECOLE DE RETROGAMING DU NET !</h4>
  <h4 style="color:white" class="craietext">GRATUITE ET SANS PUB, SON BUT PREMIER EST D'APPRENDRE EN S'AMUSANT SUR LA CULTURE ET LES JEUX VIDEOS D'ANTAN.</h4>
  <h4 style="color:white" class="craietext">PLUSIEURS COURS EN VIDEO SUR DES JEUX RETROS TE SONT PROPOSES, AVEC LA POSSIBILITE DE PASSER UN DEVOIR POUR CHACUN D'ENTRE EUX.</h4>
  <h4 style="color:white" class="craietext">UNE FOIS CORRIGE PAR MES SOINS, TU GAGNES DES POINTS EN FONCTION DE TA MOYENNE GENERALE ET DU NOMBRE DE DEVOIRS QUE TU AS RENDUS.</h4>
  <h4 style="color:white" class="craietext">TES NOTES ET CORRECTIONS SONT SAUVEGARDEES DANS TON CASIER, QUE TU PEUX CONSULTER A TOUT MOMENT. SI TU FIGURES DANS LE TOP 10 DES SCORES EN FIN DE MOIS, TU PARTICIPERAS AUTOMATIQUEMENT AU TIRAGE POUR GAGNER LE CADEAU DU MOIS !</h4>
  <h4 style="color:white" class="craietext">TU PEUX EGALEMENT CONSULTER UN LIVRE AU C.D.I (CENTRE DE DOCUMENTTATION ET D'INFORMATION) ET MEME PROPOSER TES PROPRES ARTICLES POUR QUE TOUT LES ELEVES DE L'ECOLE PUISSENT LES LIRE.</h4>
  <h4 style="color:white" class="craietext">ET POUR SE REPOSER UN PEU ET DISCUTER ENTRE ELEVES (VENTES, RECHERCHE, INFOS, VIDEOS, WWW...), RIEN DE MIEUX QUE D'ALLER EN RECREATION (LE FORUM DE L'ECOLE).</h4>
  <br>

  <h3 style="color:#33cc33" class="craietext" id="answer9">C'EST QUOI LE RETROGAMING ?</h3>
  <br>
  <h4 style="color:white" class="craietext">POUR FAIRE SIMPLE, JE DIRAIS QUE C'EST TOUT LES JEUX, ORDINATEURS ET CONSOLES QUI NE SONT PLUS EN VENTE DANS LE COMMERCE (HORS OCCASION).</h4>
  <br>

  <h3 style="color:#33cc33" class="craietext" id="answer2">C.D.I, RECRE, CASIER, KEZAKO ?</h3>
  <br>
  <h4 style="color:white" class="craietext">C'EST TRES SIMPLE : C.D.I = BLOG / RECRE = FORUM / CASIER = PROFIL.</h4>
  <br>

  <h3 style="color:#33cc33" class="craietext" id="answer3">EN QUOI CONSISTE UN COURS ?</h3>
  <br>
  <h4 style="color:white" class="craietext">UN COURS SE DIVISE EN 2 PARTIES :<br><br>1- UNE VIDEO D'ENVIRON 5-7 MINUTES, OU "FISTON" (L'ELEVE), GUIDE PAR "PAPAKO" (LE PROF), APPRENDS EN MEME TEMPS QUE TOI LA THEORIE ET LA PRATIQUE D'UN JEU.<br><br>2- UN DEVOIR SUR TABLE (DST) OU TU DEVRAS REPONDRE A 4 QUESTIONS. TU RECEVRAS ENSUITE UNE NOTE SUR 10, DONT LA CORRECTION SERA CONSERVEE DANS TON CASIER AINSI QUE TON CLASSEMENT GENERAL.</h4>
  <br>

  <h3 style="color:#33cc33" class="craietext" id="answer10">POURQUOI Y-A-T-IL SI PEU DE COURS ?</h3>
  <br>
  <h4 style="color:white" class="craietext">NOTRE ECOLE EST ENCORE JEUNE, ET FAIRE UN COURS PREND DU TEMPS. MAIS RASSURE TOI, IL Y AURA AU MOINS UN NOUVEAU COURS PAR MOIS, VOIR DEUX SI J'AI LE TEMPS !</h4>
  <br>

  <h3 style="color:#33cc33" class="craietext" id="answer11">JE NE VOIS QUE DES CONSOLES DE NINTENDO. OU SONT SEGA, ATARI, SONY ET LES AUTRES ?</h3>
  <br>
  <h4 style="color:white" class="craietext">LA PREMIERE SAISON DE "VIENS FAIRE TES DEVOIRS" COUVRE LES CONSOLES RETRO DE NINTENDO. UNE FOIS LES COURS TERMINES, NOUS ATTAQUERONS LA 2EME SAISON AVEC D'AUTRES CONSTRUCTEURS.</h4>
  <br>

  <h3 style="color:#33cc33" class="craietext" id="answer4">POURQUOI FAUT-IL CREER UN COMPTE ?</h3>
  <br>
  <h4 style="color:white" class="craietext">SANS COMPTE, TU N'AS PAS DE NOM OU D'EMAIL, JE NE PEUX DONC PAS TE NOTER NI T'ENVOYER DE MAIL POUR TE PREVENIR QUE TON DEVOIR A ETE CORRIGE. DE MEME POUR LE CASIER QUI EST TA PAGE DE PROFIL, ET POUR LE FORUM. TU PEUX CEPENDANT VOIR LES VIDEOS ET LIRE LES ARTICLES DU BLOG ET DU FORUM SANS T'INSCRIRE. MAIS TU NE POURRAS PAS INTERAGIR.</h4>
  <br>

  <h3 style="color:#33cc33" class="craietext" id="answer5">JE M'Y CONNAIS DEJA EN RETROGAMING, QUEL INTERET ?</h3>
  <br>
  <h4 style="color:white" class="craietext">PARFAIT ! TU PEUX ALORS FAIRE PROFITER LES AUTRES DE TES CONNAISSANCES DANS LA PARTIE BLOG EN ME PROPOSANT TES ARTICLES PAR MAIL A L'ADRESSE :</h4>
    <p style="color:white" class="craietext">VIENSFAIRETESDEVOIRS@GMAIL.COM</p>
  <h4 style="color:white" class="craietext">TU PEUX EGALEMENT PARTICIPER AU FORUM SI TU RECHERCHES DES JEUX EN PARTICULIER, EN VENDRE, PARLER DE TA CHAINE... MAIS JE SUIS QUAND MEME CURIEUX DE SAVOIR SI TU PEUX AVOIR 10/10 AUX 4 PREMIERS COURS SUR LA NES ?!</h4>
  <br>

  <h3 style="color:#33cc33" class="craietext" id="answer6">A QUOI SERT LA COOPERATIVE ?</h3>
  <br>
  <h4 style="color:white" class="craietext">NOTRE ECOLE EST GRATUITE ET SANS PUB. LES VIDEOS, HEBERGEES SUR YOUTUBE, SONT SANS PUB EGALEMENT. C'EST UN CHOIX PERSONNEL AUQUEL JE TIENS ! POUR QUE JE PUISSE CONTINUER A CREER DES VIDEOS ET A AMELIORER LE SITE, VOTRE PARTICIPATION FINANCIERE EST MA SEULE RESSOURCE. IL N'Y A AUCUNE OBLIGATION, COMME LA COOPERATIVE D'UNE VRAI ECOLE, MAIS CELA ME MONTRERA VOTRE RECONNAISSANCE ET ME PERMETTRA DE CONTINUER L'AVENTURE LE PLUS LONGTEMPS POSSIBLE.</h4>
  <br>

  <h3 style="color:#33cc33" class="craietext" id="answer7">COMMENT CHANGER SON AVATAR ?</h3>
  <br>
  <h4 style="color:white" class="craietext">IL SUFFIT D'ALLER DANS TON CASIER (PROFIL) ET DE CLIQUER SUR "MODIFIER SON PROFIL". POUR QUE LE NOUVEL AVATAR SOIT PRIS EN COMPTE SUR LE FORUM, IL SUFFIT DE TE "DECONNECTER / RECONNECTER" EN UN CLIC DEPUIS LE FORUM</h4>
  <br>

  <h3 style="color:#33cc33" class="craietext" id="answer8">JE N'AI PAS DE REPONSE A MA QUESTION...</h3>
  <br>
  <h4 style="color:white" class="craietext" >SI TU ES TOUJOURS SANS REPONSE, ENVOI MOI UN COURRIEL A :</h4>
    <p style="color:white" class="craietext">VIENSFAIRETESDEVOIRS@GMAIL.COM</p>
  <br>

</div>
