<div class="text-center">
<h2 style="color:white" class="text-center craietext"><em>LE TABLEAU DE LA GLOIRE</em></h2>

<br>
<br>
<ol>
<% @topten.each do |top| %>
<%= image_tag top.avatar.url(:thumb) %>
<h4><li style="color:white" class="text-center craietext"> <%= top.username.upcase %>  <span style="color:red"> <%= top.average %> </span></li></h4>

<% end %>
</ol>
</div>

<br>
<br>

<% if user_signed_in? %>
  <% if current_user.average != nil %>
<h4 style="color:white" class="craietext"> TON SCORE = <%= current_user.average %> </h4>
  <% else %>
<h4 style="color:white" class="craietext"> FAIS AU MOINS 2 DEVOIRS POUR ETRE DANS LE CLASSEMENT </h4>
  <% end %>
<% end %>
