<div class="text-center">
<h2 style="color:white" class="text-center craietext"><em>LE TABLEAU DE LA GLOIRE</em></h2>

<br>
<br>
<ol>
<% @topten.each do |top| %>
<h4><li style="color:white" class="text-center craietext"> <%= top.username.upcase %>   <%= top.average %> </li></h4>
<% end %>
</ol>
</div>

<br>
<br>

<% if user_signed_in? %>
<h4 style="color:white" class="craietext"> <%= current_user.username.upcase %>  <%= current_user.average %> </h4>
<% end %>
