<div class="white-color">
  <p>Pour que ton article soit valide, il faut qu'il :<p>
  <ul>
    <li>soit une création originale (pas de copie du voisin),</li>
    <li>soit en rapport avec le rétrogaming, et ne traite pas de l'actualité,</li>
    <li>soit rédigé dans un français correct,</li>
    <li>possède au moins 2000 caractères (sauf notice),</li>
    <li>possède au minimum 3 illustrations,</li>
    <li>s'adresse à n'importe quel lecteur (un non-joueur doit pouvoir le comprendre, pas de référence privé)</p>
  </ul>
  <p>
    Une fois sauvegardé, tu pourras y accéder depuis ton casier, pour le prévisualiser et/ou le modifier.
    Quand tu estimeras que ton article est terminé, clique alors sur le bouton "Soumettre mon article" depuis la page de prévisualisation.
    Le directeur en sera alors informé, et validera ou non ton article.
  </p>

  <h4 class="text-center">
    ### Attention ###<br>
    Une fois que tu auras soumis ton article, tu ne pourras plus le modifier !
  </h4>
  <br>
  <p>Si ton article est validé, il sera ajouté au C.D.I et tu recevras automatiquement 200 bons points.<br>
    Dans le cas contraire, tu pourras le modifier à nouveau pour corriger ce qui ne va pas</p>
</div>
