<!--<% if user_signed_in? %>
  <% if current_user.role =! "admin" %>
    <% redirect_to posts_path %>
  <% end %>
<% else %>
  <% redirect_to posts_path %>
<% end %> -->

<h1>Modifier l'Article</h1>

<%= render 'form' %>
