<% content_for :google do%>
  <title>Le C.D.I - ViensFaireTesDevoirs</title>
<% end %>

<div class="col-md-8 col-md-offset-2">
  <div>
    <h1 style="color:white" class="text-center">Modifier mon livre</h1>

    <%= render 'preambule' %>
    <%= render 'form' %>
  </div>

</div>
