<h1>Blog Posts/view/index</h1>

<% @posts.each do |post| %>
  <a href="/posts/<%= post.id %>">
    <%= image_tag post.post_img.url(:post_index) %>
  </a>
<% end %>

<% if user_signed_in? %>
  <% if current_user.role == "admin" && current_user.role =! nil %>
    <%= link_to "Créér un article", new_post_path %>
  <% end %>
<% end %>
