<h1>Blog Posts/view/index</h1>

<% @posts.each do |post| %>
  <h3><%= link_to post.title, post_path(post) %></h3>
<% end %>

<% if user_signed_in? %>
  <% if current_user.role == "admin" && current_user.role =! nil %>
    <%= link_to "Créér un article", new_post_path %>
  <% end %>
<% end %>
