<h1>Le Centre de Documentation et d’Information (CDI)</h1>
<br>
<br>
<div class="container">
<div class="row">
<% @posts.each do |post| %>
  <div class="col-lg-2 col-md-2  col-sm-4  col-xs-6 ">
    <a href="/posts/<%= post.id %>">
      <%= image_tag post.post_img.url(:post_index), class: "img-responsive" %>
    </a>
  </div>
<% end %>

</div>
</div>

<% if user_signed_in? %>
  <% if current_user.role == "admin" && current_user.role =! nil %>
    <%= link_to "Créér un article", new_post_path %>
  <% end %>
<% end %>
