/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

 @mixin background-tile {
 	box-sizing: border-box;
 	background-color: #fff;
 	border-radius: 5px;
 	box-shadow: 3px 3px 5px 6px #ccc;
 	padding: 1.5em 1.25em;
 }


 /* General styles */
 .posts {
   background-color: #adebad;
 }

.pages {
  background-color: #e6e6e6;
}

.comments {
  background-color: #ff4d4d;
}

.registrations {
  background-color: black;
}


.login-form {
	@include background-tile;

	h2 {
		margin-top: 0;
	}

}

.bouton {
  width: 85px;
  height: 85px;
}

.icon {
  width: 15px;
  height: 15px;
}

.nes {
  height: 290px;
  width: 215px;
}

.gameboy {
  height: 240px;
  width: 240px;
}

.snes {
  height: 240px;
  width: 340px;
}

.nsixtyfour {
  height:245px;
  width: 350px;
}

.gba {
  height: 230px;
  width: 230px;
}

.gamecube {
  height: 300px;
  width: 215px;
}
