/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $navbar-default-bg:  rgba(242, 242, 242, 0);

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

 @font-face {
       font-family: "PWChalk";
       src: url(PWChalk.ttf) format("truetype");
 }

 @font-face {
        font-family: "Stabilo";
        src: url(Lenka_stabilo.ttf) format("truetype");
 }

 @font-face {
        font-family: "Arcade";
        src: url(ARCADE_N.ttf) format("truetype");
 }

.navbar-nav {
  margin-top: 10px;
}

.navbar-brand {
  margin-top: 10px;
  margin-left: 8px !important;
}

.navbar {
  margin-bottom: 0 !important;
}

html, body {

  @media (min-width: 1301px) {
    .container {
      width: 80%;
      margin-top: 5%;
    }
    .navbar-nav, .navbar-brand {
      margin-top: 20px;
    }
  }

 /* xl (mac full size)*/
@media (min-width: 1200px) and (max-width: 1300px) {
  .navbar-nav, .navbar-brand {
    margin-top: 15px;
  }
}



/* lg */
@media (min-width: 992px) and (max-width: 1199px) {


}

/* md */
@media (min-width: 768px) and (max-width: 991px) {


}

/* sm */
@media (max-width: 767px) {


}

/* xs */
@media (max-width: 480px) {


}
}




 /* General styles */
.login-form {
	color:white;
  text-transform: uppercase;

	#h2devise {
		margin-top: 0;
	}
}

#wrapper .text {
position:relative;
bottom:70%;
left:0px;
visibility:hidden;
background-color: white;
}

#wrapper:hover .text {
visibility:visible;
}

.craietext {
  font-family: "PWChalk";
}

.feutretext {
  font-family: "Stabilo";
  color: white;
}

.arcadetext {
  font-family: "Arcade";
}

.transtext {
  background-color: rgba(26, 26, 26, 0.7);
  border-radius: 4px; /* propriété CSS3 */
  -moz-border-radius: 4px; /* compatibilité avec Firefox */
  -webkit-border-radius: 4px; /* compatibilité avec les navigateurs Webkit */
  margin-bottom: 50px;
}

.marginzero {
    margin: 0 auto;
}
.bouton {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.icon {
  width: 15px;
  height: 15px;
}

.nes {
  height: 290px;
  width: 215px;
  margin: 0 auto;
}

.gameboy {
  height: 240px;
  width: 240px;
  margin: 0 auto;
}

.snes {
  height: 240px;
  width: 340px;
  margin: 0 auto;
}

.nsixtyfour {
  height:245px;
  width: 350px;
  margin: 0 auto;
}

.gba {
  height: 230px;
  width: 230px;
  margin: 0 auto;
}

.gamecube {
  height: 300px;
  width: 215px;
  margin: 0 auto;
}

.consoleimg {
  height: auto;
  width: 128px;
  margin-top: -10px;
}

.consoleimg_small {
  width: 64px;
  height: auto;
}

.navbar-toggle, .navbar-toggle.collapsed {
  margin-top: 25px !important;
}

.modal-content {
  background-color: rgba(51, 51, 51, 0.5);
  color: #FFFFFF;
}

.gift_modal {
  background-image: url('https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpa1/t31.0-8/10517391_313369258836761_6469924826876162744_o.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.home_modal {
  background-image: url('https://wizarddojo.files.wordpress.com/2015/08/4291495-6150563226-get_image.png');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.dbz_modal {
  background-image: url('http://s1.dmcdn.net/AYidA/1280x720-daV.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center !important;
  background-repeat: no-repeat !important;
  //width: 200%;
}

.margin_ten {
  margin-top: 5px;
}
