// Place all the styles related to the Consoles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.consoles {
  background-image: url('fondcons.png');
  background-repeat: no-repeat;
  background-size: 100% 145%;
}

.infogame {

  color: white;
}

.paginatevideos {
  background-color: white;
  font-weight: bold;
  font-size: 2em;
}

.nes {
  height: 290px;
  width: 215px;
}

.gameboy {
  height: 240px;
  width: 240px;
}

.snes {
  height: 240px;
  width: 340px;
}

.nsixtyfour {
  height:245px;
  width: 350px;
}

.gba {
  height: 230px;
  width: 230px;
}

.gamecube {
  height: 300px;
  width: 215px;
}
