// Place all the styles related to the Consoles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.consoles {
  background-image: asset_url('blackboard.jpg');
  // -moz-background-size: cover;
  // -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
}

.infogame {

  color: white;
}

.flipped {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.arrow_size {
  width: 64px
}

// .start_button {
//   position:absolute;
//   top: 0%;
//   // padding:5px;
//   // margin:0;
//   // z-index:100;
//   // font-size:3rem;
//   // cursor:pointer;
//   // color:#555;
//   right: 50%;
//
// }
