// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index, .cooperative, .correspondances, .faq, .halloffame, .pages.videos {
  background-image: url('blackboard.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.casier {
  background-image: url('casier.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
}

.doors {
  width: 128px;
  height: 128px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.lastban {
  position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
}

.lastblue {
  background-image: url('borderblue.png');
  height: 140px;
}

.lastgreen {
  background-image: url('bordergreen.png');
  height: 140px;
}

.lastyellow {
  background-image: url('borderyellow.png');
  height: 140px;
}

.lastred {
  background-image: url('borderred.png');
  height: 140px;
}

.lasttext {
  position: absolute;
  top: 10%;
  width: 100%;
  color: white;
}

.topten_avatar {
  width: 30px;
  height: 30px;
}

.pad_bot {

  padding-bottom: 70px;
}

#top10-margin {
  //padding-top: 1%;
  margin-top: 15px !important;

}

.cadeau {
  max-width: 150px;
  height: auto;
  transform: rotate(10deg);
  -ms-transform: rotate(10deg); /* IE 9 */
  -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
  position: relative;
  z-index: 2;
}


.cadeau_du_mois {
  margin-top: -50px;

}

.title_top {
  margin-top: 50px;
  //margin-bottom: 20px;
}

.text_gift {
  position: relative;
  z-index: 6;
}

.margin_title {
  //margin-left: -7%;
}

.faq_div {
  margin-bottom: 30px;
}
