// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pages {
  background-image: url('blackboard.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.casier {
  background-image: url('casier.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
}

.doors {
  width: 128px;
  height: 128px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.lastban {
  position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
}

.lastblue {
  background-image: url('borderblue.png');
  height: 140px;
}

.lastgreen {
  background-image: url('bordergreen.png');
  height: 140px;
}

.lastyellow {
  background-image: url('borderyellow.png');
  height: 140px;
}

.lastred {
  background-image: url('borderred.png');
  height: 140px;
}

.lasttext {
  position: absolute;
  top: 10%;
  width: 100%;
  color: white;
}

.topten_avatar {
  width: 30px;
  height: 30px;
}

.pad_bot {

  padding-bottom: 70px;
}

#top10-margin {
  padding-top: 1.2%;
}
