// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// display none
/* @media screen and (max-width: 632px) {
   #id_name{
    display:none;

  }
} */
.article {
  background-color: white;
}

.fichecdi {
  background-color: pink;
}

.annotations {
  background-color: #e6e6e6;
}

.pagedroite {
  background-color: white;
}
