// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// display none
/* @media screen and (max-width: 632px) {
   #id_name{
    display:none;

  }
} */
.article {
  background-image: url('page.png');

  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.fichecdi {
  background-color: pink;
}

.annotations {
  background-color: #e6e6e6;
}

.texte {
  margin-left: 110px;
  margin-right: 35px;
}

/* .pagedroite {
  background-color: white;
} */
