// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// display none
/* @media screen and (max-width: 632px) {
   #id_name{
    display:none;

  }
} */
.posts {
  background-image: asset_url('blackboard.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.article {
  background-image: asset_url('page.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.fichecdi {
  background-image: asset_url('bristol.gif');
  background-repeat: no-repeat;
  margin-left: 15%;
  width: 210px !important;
}

.annotations {
  color: white;
}

.texte {
  margin-left: 12%;
  margin-right: 3%;
}

.posttitle {
  margin-left: 12%;
  margin-right: 3%;
}

.mudora_index {
  //width: 130px;
  max-height: 156px;
}

/* .pagedroite {
  background-color: white;
} */

article img {
    max-width: 100%;
    height: auto;
}

.height_50 {
  height: 50px;
}

.height_30 {
  height: 40px;
}

@media screen and (min-width: 768px) {
  #imagemodal .modal-dialog {
    width: 100%;
  }
  #imagepreview {
    max-width: 100%;
    min-width: 400px;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  #imagepreview {
    width: 100%;
    height: auto;
  }
}
