#dstshowlink {

  width: 80%;

  @media (max-width: 480px) {
    width: 100%
    }
}

#dstshowtext {
   position: absolute;
   top: 7%;
   left: 24%;
   width: 65%;

   h4 {
     font-size: 17px;
   }


   @media (max-width: 480px) {
     position: absolute;
     top: 3%;
     left: 17%;
     width: 80%;
     h4 {
       font-size: 12px;
     }
   }
}

.noteimg {
  color: red;
  position: absolute;
  right: 5%;
  top: -7%;

  @media (max-width: 480px) {
    position: absolute;
    right: 5%;
    top: -4%;

  }
}

.reponses {
  background-image: url('tablelow.gif');
  background-repeat: no-repeat;
  background-size: 100% 120%;
}

#dstshowinput, #dstshowinput2, #dstshowinput3, #dstshowinput4 {
  position: relative;
  top: 9%;
  left: 3%;
  width: 90%;


}

#submitdst {
  position: relative;
  width: 90%;
}

#submitdst2 {
  position: relative;
  width: 90%;
  color: red;
}

.reponsedst {
  color: green;
}
