#dstshowlink {
  width: 80%;
  min-height: 800px;

  @media (max-width: 480px) {
    width: 100%;
    min-height: 600px;
  }
}

#dstshowtext {
   position: absolute;
   top: 9%;
   left: 24%;
   width: 65%;

   h4 {
     font-size: 17px;
   }


   @media (max-width: 480px) {
     position: absolute;
     top: 2%;
     left: 17%;
     width: 82%;
     h4 {
       font-size: 10px;
     }
   }
}

.noteimg {
  color: red;
  position: absolute;
  right: 5%;
  top: -10%;

  @media (max-width: 480px) {
    position: absolute;
    right: 5%;
    top: 1%;

  }
}

.reponses {
  background-image: asset_url('backgroundwood.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  &.show, &.new {
    .container {
      padding: 0 5px 20px 5px;
    }
  }
}

#dstshowinput, #dstshowinput2, #dstshowinput3, #dstshowinput4 {
  position: relative;
  top: 9%;
  left: 3%;
  width: 90%;


}

#submitdst {
  position: relative;
  width: 90%;
}

#submitdst2 {
  position: relative;
  width: 90%;
  color: red;
}

.reponsedst {
  color: green;
}

.margin-left-minus {
  margin-left: -160px;
  z-index: 4;
}
