.tests {
  background-image: asset_url('backgroundwood.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
}
