#dstshowlink {
  height: auto;
  width: auto;
}

#dstshowtext {
   position: absolute;
   top: 8.5%;
   left: 5%;
   width: 90%;

   @media (max-width: 480px) {
     h4 {
       font-size: 13px;
     }

     position: absolute;
     top: 3%;
     left: 5%;
     width: 90%;
   }
}

.tests {
  background-color: black;
}

#dstshowinput, #dstshowinput2, #dstshowinput3, #dstshowinput4 {
  position: relative;
  top: 9%;
  left: 13%;
  width: 90%;

  @media (min-width: 1200px) {
    position: relative;
    top: 9%;
    left: 27%;
    width: 90%;

  }

  /* lg */
  @media (min-width: 992px) and (max-width: 1199px) {
    position: relative;
    top: 9%;
    left: 22%;
    width: 90%;

  }
}
