// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#dstlink {
  height: 280px;
  width: 215px;
}

#dstimg {
  height: 122px;
  width: 200px;
}

.videos {
  background-image: asset_url('blackboard.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
}

.image {
   position: relative;
   border-bottom: 0;

}

#dsttext {
   position: absolute;
   top: 7%;
   left: 5%;
   width: 90%;
}

// .video-container {
//     position: relative;
//     padding-bottom: 56.25%;
//     padding-top: 30px; height: 0; overflow: hidden;
// }
//
// .video-container iframe,
// .video-container object,
// .video-container embed {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
// }
