// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#dstlink {
  height: 280px;
  width: 215px;
}

.videos {
  background-image: url('tablelow.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
