<br>
<br>
<div class="feutretext text-center">
  <h2>Merci d'avoir passé ton devoir sur table <%= current_user.username %> !</h2>
  <h2>Je t'enverrai un mail dès que j'aurai corrigé ta copie.</h2>
  <h3><%= link_to "Retourner en classe", console_path(@test.console_id) %></h3>
</div>
