<br>
<div class="text-center">
  <div class="image col-xs-12">
    <img src="<%= asset_path( 'dstlink.png' ) %>" alt="DST" class="img-responsive center-block">
      <div id="dsttext">
      <h4 id="dsttext">Q1 : xxxx<br>Q2 : xxxx<br>Q3 : xxxx<br>
        Q4 : xxxx
      </h4>
      </div>

    <br>
  </div>
</div>
