<br>
<div class="text-center">
  <div class="image col-xs-12">
    <img src="<%= asset_path( 'dstsheet.png' ) %>" alt="DST" class="img-responsive center-block" id="dstshowlink">
      <div id="dstshowtext">
      <h4>Q1 : quel est la couleur du cheval blanc d'Henri 4 ?<br>R: --------------<br><br>
          Q2 : quel est la couleur du cheval blanc d'Henri 4 ?<br>R: --------------<br><br>
          Q3 : quel est la couleur du cheval blanc d'Henri 4 ?<br>R: --------------<br><br>
          Q4 : quel est la couleur du cheval blanc d'Henri 4 ?<br>R: --------------<br><br>
      </h4>
      </div>
    
    <br>
  </div>
</div>
